@model IEnumerable<MobileFriendlyNavigationRootNode>
@{
    Html.IncludeScript("~/Apps/MobileFriendlyNavigation/Content/Scripts/mrcms/helpers.js");
    Html.IncludeScript("~/Apps/MobileFriendlyNavigation/Content/Scripts/mrcms/mobileFriendlyNavigation.js");
}

<div data-mfnav="root" data-mfnav-max-levels="3" data-mfnav-url="/MobileFriendlyNavigation/GetChildNodes">
    <div data-mfnav="mobile" style="display: none">
        <div data-mfnav="mobileHeader">
            <a data-mfnav="mobileBack" href="#">B</a>
            <span></span>
        </div>
        <div data-mfnav="mobileCrumbs"></div>
    </div>

    <ul class="nav navbar-nav" data-mfnav="menu">
        @foreach (MobileFriendlyNavigationRootNode rootNode in Model)
        {
            <li data-mfnav="menuItem" data-mfnav-children="@rootNode.ChildrenAsJson()">
                <a href="@rootNode.Url">@rootNode.Text</a>
            </li>
        }
    </ul>

    <div style="display: none">
        <ul data-mfnav-template="menu" class="dropdown-menu">
            <li data-mfnav-template="menuItem">
                <a href="{url}">{text}</a>
            </li>
        </ul>
    </div>
</div>